.header__nav{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}


.header__nav .nav{}
.header__nav .nav li{
    display: inline-block;
    margin: 0px 16px;
    
    text-transform: uppercase;
    transition: 0.4s;
}
.header__nav .nav li.highlight{
    background-color: #007bff;
    border-radius: 25px;
    padding: 10px 15px;
}

.header__nav .nav li:hover{

    background-color: #007bff;
    border-radius: 25px;
    padding: 10px 15px;
}

.header__nav .nav .sub-menu{
    display: none;
}

.header__nav .nav .sub-menu:hover{
    display: block;
}